 @charset "ISO-8859-1";
body{
margin:0px;
padding:0px;
font-family:arial;}
#main{
width:100%;
height:60px;
background:#1E85A6;
}
#main input{
margin-left:94%;
margin-top:30px;
font-size:23px;
background:transparent;
border:none;
text-transform:capitalize;
color:white;
}
#middle{
width:100%;
height:530px;
}
#middle h2{
margin-left:155px;
margin-top:5px;
font-size:28px;
margin-bottom:8px;
font-family:'Orbitron',sans-serif;
}
#middlecenter{
width:80%;
margin:auto;
border:1px solid #d9d9d9;
height:500px;
margin-top:0px;
border-radius:4px;

}
#option{
display:grid;
width:85%;
margin:auto;
height:510px;
grid-template-columns:repeat(4,1fr);
grid-template-rows:repeat(2,1fr);
grid-gap: 10px 20px;
border:2px solid black;
box-shadow:2px 2px 8px 2px #102935;
}
#profile{
	transition-duration:1s;
	width:95%;
	margin-left:20px;
	margin-top:10px;
}
#profile:hover{
	transform:scale(1.1);
}
#profile img{
width:60%;
height:150px;
margin-left:50px;
margin-top:7px;
}
#profile p{
border:2px solid black;
padding:5px;
font-size:20px;
font-family:sans-serif;
background-image:linear-gradient(to top right,#0086b3,#b3ecff,#0086b3);
box-shadow:2px 2px 5px #00394d;
text-align:center;
font-family:'Inconsolata',sans-serif;
width:85%;
margin-left:14px;
border-radius:7px;
}
#addstudent{
	transition-duration:1s;
	width:95%;
	margin-left:20px;
	margin-top:10px;
}
#addstudent:hover{
	transform:scale(1.1);
}
#addstudent img{
width:60%;
height:150px;
margin-left:50px;
margin-top:7px;
}
#addstudent p{
border:2px solid black;
padding:5px;
font-size:20px;
font-family:sans-serif;
background-image:linear-gradient(to top right,#0086b3,#b3ecff,#0086b3);
box-shadow:2px 2px 5px #00394d;
text-align:center;
width:85%;
margin-left:14px;
border-radius:7px;
font-family:'Inconsolata',sans-serif;
}
#addteacher{
	transition-duration:1s;
	width:95%;
	margin-left:20px;
	margin-top:10px;
}
#addteacher:hover{
	transform:scale(1.1);
}
#addteacher img{
width:60%;
height:150px;
margin-left:50px;
margin-top:5px;
}
#addteacher p{
border:2px solid black;
padding:5px;
font-size:20px;
font-family:sans-serif;
background-image:linear-gradient(to top right,#0086b3,#b3ecff,#0086b3);
box-shadow:2px 2px 5px #00394d;
text-align:center;
width:85%;
margin-left:14px;
border-radius:7px;
font-family:'Inconsolata',sans-serif;
}
#totalstudent{
	transition-duration:1s;
	width:90%;
	margin-left:20px;
	margin-top:10px;
}
#totalstudent:hover{
	transform:scale(1.1);
}
#totalstudent img{
width:60%;
height:150px;
margin-left:50px;
margin-top:5px;
}
#totalstudent p{
border:2px solid black;
padding:5px;
font-size:20px;
font-family:sans-serif;
background-image:linear-gradient(to top right,#0086b3,#b3ecff,#0086b3);
box-shadow:2px 2px 5px #00394d;
text-align:center;
width:85%;
margin-left:14px;
border-radius:7px;
font-family:'Inconsolata',sans-serif;
}
#totalteacher{
	transition-duration:1s;
	width:95%;
	margin-left:20px;
	margin-top:10px;
	height:230px;
	}
#totalteacher:hover{
	transform:scale(1.1);
}
#totalteacher img{
width:60%;
height:150px;
margin-left:50px;
margin-top:0px;
}
#totalteacher p{
border:2px solid black;
padding:5px;
font-size:20px;
font-family:sans-serif;
background-image:linear-gradient(to top right,#0086b3,#b3ecff,#0086b3);
box-shadow:2px 2px 5px #00394d;
text-align:center;
width:85%;
margin-left:14px;
border-radius:7px;
font-family:'Inconsolata',sans-serif;
}
#branch:hover{
	transform:scale(1.1);
}
#branch{
	transition-duration:1s;
	width:95%;
	margin-left:20px;
	margin-top:10px;
	height:230px;
}
#branch img{
width:60%;
height:150px;
margin-left:50px;
margin-top:0px;
}
#branch p{
border:2px solid black;
padding:5px;
font-size:20px;
font-family:sans-serif;
background-image:linear-gradient(to top right,#0086b3,#b3ecff,#0086b3);
box-shadow:2px 2px 5px #00394d;
text-align:center;
width:85%;
margin-left:14px;
border-radius:7px;
font-family:'Inconsolata',sans-serif;
}
#subject{
	transition-duration:1s;
	width:95%;
	margin-left:20px;
	margin-top:10px;
	height:230px;
}
#subject:hover{
	transform:scale(1.1);
}
#subject img{
width:60%;
height:150px;
margin-left:50px;
margin-top:0px;
}
#subject p{
border:2px solid black;
padding:5px;
font-size:20px;
font-family:sans-serif;
background-image:linear-gradient(to top right,#0086b3,#b3ecff,#0086b3);
box-shadow:2px 2px 5px #00394d;
text-align:center;
width:85%;
margin-left:14px;
border-radius:7px;
font-family:'Inconsolata',sans-serif;
}
#report{
	transition-duration:1s;
	width:90%;
	margin-left:20px;
	margin-top:10px;
	height:230px;
}
#report:hover{
	transform:scale(1.1);
}
#report img{
width:60%;
height:150px;
margin-left:50px;
margin-top:0px;
}
#report p{
border:2px solid black;
padding:5px;
font-size:20px;
font-family:sans-serif;
background-image:linear-gradient(to top right,#314B53,#A4DBED,#314B53);
box-shadow:2px 2px 5px #00394d;
text-align:center;
width:85%;
margin-left:14px;
border-radius:7px;
font-family:'Inconsolata',sans-serif;
}