@charset "ISO-8859-1";
body{
margin:0px;
padding:0px;
}
header{
width:100%;
height:60px;
background:#165C78;
}
header input{
margin-left:94%;
padding:5px;
font-size:22px;
color:white;
background:transparent;
margin-top:18px;
border:none;
}
#main{
width:100%;
height:530px;
}
#main h1{
padding-left:17%;
margin-top:4px;
margin-bottom:5px;
font-family:'Faustina',sans-serif;
}
#maincontent{
width:70%;
height:510px;
margin:auto;
border-radius:5px;
border:2px solid black;
box-shadow:2px 2px 8px 2px #031E2E;
}
#maincontent h1{
padding-left:0px;
background:#3188AB;
height:40px;
width:100%;
margin-top:0px;
border-radius:5px 5px 0px 0px;
font-family:'Kreon', sans-serif;
}
#content{
width:90%;
height:420px;
display:grid;
margin:auto;
grid-template-rows:repeat(2,1fr);
grid-template-columns:repeat(2,1fr);
grid-gap:20px 80px;
}
#profile{
	
	transition-duration:1s;
	margin-top:10px;
	width:100%;
	height:200px;
}
#profile:hover{
	transform:scale(1.1);
	
}
#profile img{
width:50%;
height:150px;
margin-left:80px;
}
#profile p{
width:70%;
text-align:center;
border:1px solid black;
background:#0A6B99;
margin:auto;
margin-top:5px;
font-size:20px;
padding:5px;
color:white;
border-radius:10px;
font-family:'Work Sans',sans-serif;
}
#attendance{
	
	margin-top:10px;
	width:100%;
	height:200px;
	transition-duration:1s;
}
#attendance:hover{
	transform:scale(1.1);
}
#attendance img{
width:50%;
height:150px;
margin-left:80px;
}
#attendance p{
width:70%;
text-align:center;
border:1px solid black;
background:#0A6B99;
margin:auto;
margin-top:5px;
font-size:20px;
padding:5px;
color:white;
border-radius:10px;
font-family:'Work Sans',sans-serif;
}
#marks{
		margin-top:10px;
	width:100%;
	height:200px;
	transition-duration:1s;
}
#marks:hover{
	transform:scale(1.1);
}
#marks img{
width:50%;
height:150px;
margin-left:80px;
}
#marks p{
width:70%;
text-align:center;
border:1px solid black;
background:#0A6B99;
margin:auto;
margin-top:5px;
font-size:20px;
padding:5px;
color:white;
border-radius:10px;
font-family:'Work Sans',sans-serif;
}
#report{
		margin-top:10px;
	width:100%;
	height:200px;
	transition-duration:1s;
}
#report:hover{
	transform:scale(1.1);
}
#report img{
width:50%;
height:150px;
margin-left:80px;
}
#report p{
width:70%;
text-align:center;
border:1px solid black;
background:#0A6B99;
margin:auto;
border-radius:10px;
margin-top:5px;
font-size:20px;
padding:5px;
color:white;
font-family:'Work Sans',sans-serif;
}