@charset "ISO-8859-1";
body{
margin:0px;
padding:0px;
}
header{
width:100%;
height:60px;
background:blue;
background:#0F6E73;
}
header input{
margin-left:94%;
padding:5px;
font-size:22px;
color:white;
background:transparent;
margin-top:18px;
border:none;
}
#main{
width:100%;
height:530px;
}
#main h1{
padding-left:17%;
margin-top:4px;
margin-bottom:5px;
text-shadow:2px 2px 2px 2px black;
font-family:'Orbitron',sans-serif;
}
#maincontent{
width:70%;
height:520px;
margin:auto;
border-radius:5px;
border:2px solid black;
background:#f0f5f5;
box-shadow:2px 2px 8px 2px #1B4244;
}
#maincontent h1{
padding-left:0px;
background:#3CBBC2;
height:40px;
width:100%;
margin-top:0px;
border-radius:5px 5px 0px 0px;
font-family:'Markazi Text',sans-serif;
}
#content{
width:90%;
height:430px;
display:grid;
margin:auto;
grid-template-rows:repeat(2,1fr);
grid-template-columns:repeat(3,1fr);
grid-gap:20px 40px;
}
#profile{
	width:100%;
	height:210px;
    transition-duration:1s;  
}
#profile img{
width:50%;
height:150px;
margin-left:80px;
margin-top:10px;
}
#profile:hover{
transform: scale(1.1);
}
#profile p{
width:85%;
text-align:center;
border:2px solid black;
background:#288A8F;
margin:auto;
margin-top:5px;
font-size:18px;
padding:5px;
color:black;
border-radius:10px;
box-shadow:2px 2px 5px #1f2e2e;
font-family:'Oswald',sans-serif;
}
#attendance{
	width:100%;
	height:210px;
     transition-duration:1s;    
}
#attendance img{
width:50%;
height:150px;
margin-left:80px;
margin-top:10px;
}
#attendance p{
width:70%;
text-align:center;
border:2px solid black;
background:#288A8F;
margin:auto;
margin-top:5px;
font-size:18px;
padding:5px;
color:black;
border-radius:10px;
box-shadow:2px 2px 5px #1f2e2e;
font-family:'Oswald',sans-serif;
}
#attendance:hover{
	transform:scale(1.1);
}
#addsubject{
	width:100%;
	height:210px;
    transition-duration:1s;
}
#addsubject img{
width:50%;
height:150px;
margin-left:80px;
margin-top:10px;
}
#addsubject p{
width:85%;
text-align:center;
border:2px solid black;
background:#288A8F;
margin:auto;
margin-top:5px;
color:black;
font-size:18px;
padding:5px;
border-radius:10px;
box-shadow:2px 2px 5px #1f2e2e;
font-family:'Oswald',sans-serif;
}
#addsubject:hover{
	transform:scale(1.1);
}
#result{
	width:100%;
	height:210px;
	transition-duration:1s;
}
#result:hover{
	transform:scale(1.1);
}
#result img{
width:50%;
height:150px;
margin-left:80px;
margin-top:10px;
}
#result p{
width:85%;
text-align:center;
border:2px solid black;
background:#288A8F;
margin:auto;
margin-top:5px;
font-size:18px;
padding:5px;
border-radius:10px;
color:black;
box-shadow:2px 2px 5px #1f2e2e;
font-family:'Oswald',sans-serif;
}
#viewstudent{
	width:100%;
	height:200px;
    transition-duration:1s;
}
#viewstudent img{
width:50%;
height:150px;
margin-left:80px;
margin-top:10px;
}
#viewstudent p{
width:85%;
text-align:center;
border:2px solid black;
background:#288A8F;
box-shadow:2px 2px 5px #1f2e2e;
margin:auto;
color:black;
margin-top:5px;
font-size:18px;
padding:5px;
border-radius:10px;
font-family:'Oswald',sans-serif;
}
#viewstudent:hover {
    transform:scale(1.1);
}
#report{
	width:100%;
	height:200px;
    transition-duration:1s;
}
#report img{
width:50%;
height:150px;
margin-left:80px;
margin-top:10px;
}
#report p{
width:85%;
text-align:center;
border:2px solid black;
background:#288A8F;
margin:auto;
margin-top:5px;
font-size:18px;
padding:5px;
color:black;
border-radius:10px;
box-shadow:2px 2px 5px #1f2e2e;
font-family:'Oswald',sans-serif;
}
#report:hover{
    transform: scale(1.1);
}
